__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
.Python
env/
venv/
ENV/
.env
terminalcrypt.toml
paper_account.json
portfolio.json
logs/
data/
.python-version
.idea/
.vscode/
*.egg-info/
dist/
build/
target/
